<table class="table" *ngIf="users">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user['id']}}</td>
      <td>{{user['name']}}</td>
      <td>{{user['username']}}</td>
      <td>{{user['email']}}</td>
      <td>{{user['address']['city']}}</td>
      <td><button (click)="delete(user['id'])">Eliminar</button><button (click)="put(user['id'])">Editar</button></td>
    </tr>
  </tbody>
</table>


<button (click)="add()">Agregar</button>